<div>
    <!--Dashboard-->
    <div class="d-flex align-items-center gap-2 p-2 bg-light text-dark">
        <lucide-icon [img]="Package" class="text-primary"></lucide-icon>
     <!--  <h3 class="m-0 flex-grow-1">{{stockData.stockGroup.name}}</h3>-->
    </div>

  <div class="card m-2 table-space ">
    <p class='pt-1 ms-2 table-title'>Itens do estoque</p>
    <table class='table table-striped-columns table-sm text-center' style="width:99%; margin-left: auto;
  margin-right: auto; ">
      <thead>
      <tr class='table-secondary'>
        <th scope="col">SKU</th>
        <th scope="col">Nome do item</th>
        <th scope="col">Categoria</th>
        <th scope="col">Quantidade</th>
        <th scope="col">Valor por unidade</th>
        <th scope="col">Valor total</th>
        <th scope="col">Status</th>
        <th scope="col">Ações</th>
      </tr>
      </thead>
      <tbody>
      @if (this.item == null){
        <tr>
          <th scope="row">Nada</th>
          <td>Nada</td>
          <td>Nada</td>
          <td>Nada</td>
          <td>Nada</td>
          <td>Nada</td>
          <td>Nada</td>
          <td ><lucide-angular [img]="SquarePen" class="text-primary me-1"></lucide-angular> <lucide-angular [img]="Trash" class="text-danger"></lucide-angular> </td>
        </tr>
      }
      @else{
        <tr>
          <th scope="row">{{item.SKU}}</th>
          <td>{{item.name}}</td>
          <td>{{item.category}}</td>
          <td>{{item.quantity}}</td>
          <td>{{item.unitValue}}</td>
          <td>{{item.getTotalValue(item)}}</td>
        @if(item.quantity > item.lowQuantity)
        {
          <td>Good</td>
        }
        @else{
          <td>Low</td>
        }
          <td> <lucide-angular [img]="SquarePen" class="text-primary me-1"></lucide-angular> <lucide-angular [img]="Trash" class="text-danger"></lucide-angular></td>
        </tr>
      }
      </tbody>
    </table>
  </div>
</div>
