<div class=cardClass>
      <div class="card-body">
        <div class="d-flex align-items-start justify-content-between mb-3">
          <h3 class="card-title mb-0">{{stockGroup.name}}</h3>
          @if (stockGroup.status === "warning") {
            <lucide-icon [img]="CircleAlert" class="text-orange" [size]="20" />
          }
        </div>

        <div class="d-flex flex-column gap-3">
          <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center gap-2 text-muted">
              <lucide-icon [img]="Package" [size]=16 />
              <span>Itens</span>
            </div>
            <span>{{stockGroup.totalItems}}</span>
          </div>

          <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center gap-2 text-muted">
              <lucide-icon [img]="DollarSign"  [size]=16 />
              <span>Valor</span>
            </div>
            <span>
              R$ {{stockGroup.value.toLocaleString('pt-BR', { minimumFractionDigits: 2 })}}
            </span>
          </div>
          @if (stockGroup.lowStock > 0) {
            <div class="pt-3 border-top">
              <div class="d-flex align-items-center justify-content-between">
                <span class="text-orange">Estoque baixo</span>
                <span class="text-orange">{{stockGroup.lowStock}} itens</span>
              </div>
            </div>}
        </div>
      </div>
    </div>
