<!--O que estiver comentado deverá ser transformado em bootstrap (está em tailwind)-->
<div class=""> <!--"bg-white border border-gray-200 rounded-lg p-6"-->
    <div class=""> <!--"flex items-center justify-between"-->
        <div class=""> <!--"flex-1"-->
            <p class="">{label}</p> <!-- text-gray-600 mb-2 -->
            <p class="">{value}</p> <!--text-gray-900-->
        </div>
        <div class=""> <!--`${bgColor} p-3 rounded-lg`-->
            <Icon class="" /> <!--`w-6 h-6 ${iconColor}`-->
        </div>
    </div>
</div>